/* Клієнти */

.clients__list {
  margin: 0;
  padding: 0;

  display: flex;
  gap: 30px;
}

.clients__link {
  border: #afb1b8 solid 1px;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--icon-color);
  transition: fill var(--transition-timing) var(--timing-function),
    border var(--transition-timing) var(--timing-function);
  &:hover,
  &:focus {
    fill: var(--hover-link-color);
    border: var(--hover-link-color) solid 1px;
  }
}
