body {
  background-color: var(--background-color);
  font-family: "Roboto", "Raleway", "sans-serif";
  color: var(--title-color);
  font-size: 14px;
}

:root {
  --title-color: #212121;
  --text-color: #757575;
  --hover-link-color: #2196f3;
  --button-text-color: #ffffff;
  --logo-color-blue: #2196f3;
  --logo-color-black: #000000;
  --logo-color-white: #ffffff;
  --hero-title-color: #ffffff;
  --background-color: #ffffff;
  --background-color-footer: #2f303a;
  --background-color-hero: #2f303a;
  --background-color-button: #2196f3;
  --team-card-color: #ffffff;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --section-block-grey: #f5f4fa;
  --products-card-bcg: #eeeeee;
  --circle-footer-color: rgba(255, 255, 255, 0.1);
  --icon-color: #afb1b8;
  --icon-background-footer: rgba(255, 255, 255, 0.1);
  --product-overlay-color: rgba(33, 150, 243, 0.9);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-timing: 250ms;
  --backdrop-color: rgba(0, 0, 0, 0.2);
  --placeholder-color: rgba(255, 255, 255, 0.6);
  --comment-color: rgba(117, 117, 117, 0.5);
}
